<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

><strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file. 

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG">

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: https://www.kaggle.com/promptcloud/jobs-on-naukricom under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [1]:
import requests # you need this module to make an API call
import pandas as pd

In [2]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [3]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [4]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [5]:
print(data)   # print the data just to check the output or for debugging

{'message': 'success', 'number': 10, 'people': [{'craft': 'ISS', 'name': 'Sergey Prokopyev'}, {'craft': 'ISS', 'name': 'Dmitry Petelin'}, {'craft': 'ISS', 'name': 'Frank Rubio'}, {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'}, {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'}, {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}, {'craft': 'ISS', 'name': 'Stephen Bowen'}, {'craft': 'ISS', 'name': 'Warren Hoburg'}, {'craft': 'ISS', 'name': 'Sultan Alneyadi'}, {'craft': 'ISS', 'name': 'Andrey Fedyaev'}]}

Print the number of astronauts currently on ISS.

In [6]:
print(data.get('number'))

10

In [8]:
print(astronauts)

[{'craft': 'ISS', 'name': 'Sergey Prokopyev'}, {'craft': 'ISS', 'name': 'Dmitry Petelin'}, {'craft': 'ISS', 'name': 'Frank Rubio'}, {'craft': 'Shenzhou 15', 'name': 'Fei Junlong'}, {'craft': 'Shenzhou 15', 'name': 'Deng Qingming'}, {'craft': 'Shenzhou 15', 'name': 'Zhang Lu'}, {'craft': 'ISS', 'name': 'Stephen Bowen'}, {'craft': 'ISS', 'name': 'Warren Hoburg'}, {'craft': 'ISS', 'name': 'Sultan Alneyadi'}, {'craft': 'ISS', 'name': 'Andrey Fedyaev'}]

Print the names of the astronauts currently on ISS.

In [7]:
astronauts = data.get('people')   # people Ã© un elemento dentro do JSON e tem um dicionario como valor
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 10 astronauts on ISS
And their names are :
Sergey Prokopyev
Dmitry Petelin
Frank Rubio
Fei Junlong
Deng Qingming
Zhang Lu
Stephen Bowen
Warren Hoburg
Sultan Alneyadi
Andrey Fedyaev

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

* Los Angeles
* New York
* San Francisco
* Washington DC
* Seattle
* Austin
* Detroit

In [2]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>
> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.
  Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01">link</a>
  
 ##### The keys in the json are 
 * Job Title
 
 
 * Job Experience Required
 
 * Key Skills
 
 * Role Category
 
 * Location
 
 * Functional Area
 
 * Industry
 
 * Role 
 
You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json">json</a> URL.

In [3]:
api_url="http://127.0.0.1:5000/data"

def get_number_of_jobs_T(technology):
    number_of_jobs = 0
    #your code goes here
    payload = {'Key Skills':technology,'page':1}           #parameters to search the api
    while True:                                             #Loop to get the data of multiples pages
        r = requests.get(api_url, params=payload)
        print(r.url)   #Response to be saved
        if r.ok:                                            #to discard errors
            data = r.json()                                 #retrieved data to be counted
            number_of_jobs = number_of_jobs + len(data)     #count of data
            payload["page"] = payload["page"] + 1           #go to the next page
        else:
            print('erro:',  r.status_code)
            break                                           #exit to the loop in case the request is not "ok"
        if len(data) != 50:
            break   
            
    return technology,number_of_jobs

Calling the function for Python and checking if it works.

In [4]:
get_number_of_jobs_T("Python")

http://127.0.0.1:5000/data?Key+Skills=Python&page=1

('Python', 1173)

#### Write a function to find number of jobs in US for a location of your choice

In [5]:
def get_number_of_jobs_L(location):
    number_of_jobs = 0
    #your code goes here
    payload = {'Location':location,'page':1}           #parameters to search the api
    while True:                                             #Loop to get the data of multiples pages
        r = requests.get(api_url, params=payload)
        print(r.url)  
        if r.ok:                                            #to discard errors
            data = r.json()                                 #retrieved data to be counted
            number_of_jobs = number_of_jobs + len(data)     #count of data
            payload["page"] = payload["page"] + 1           #go to the next page
        else:
            print('erro:',  r.status_code)
            break                                           #exit to the loop in case the request is not "ok"
        if len(data) != 50:
            break   
      
    #your coe goes here
    return location,number_of_jobs

Call the function for Los Angeles and check if it is working.

In [6]:
#your code goes here
get_number_of_jobs_L("los+angeles")

http://127.0.0.1:5000/data?Location=los%2Bangeles&page=1
erro: 500

('los+angeles', 0)

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [9]:
#your code goes here
cities=['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

Import libraries required to create excel spreadsheet

In [13]:
# your code goes here
!pip install openpyxl
from openpyxl import Workbook

Requirement already satisfied: openpyxl in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from openpyxl) (1.1.0)

Create a workbook and select the active worksheet

In [14]:
# your code goes here

wb=Workbook()      # create a workbook object
ws=wb.active       # use the active worksheet

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [17]:
#your code goes here

ws.append(['Country','Jobs'])

for x in cities:
    col1 = x
    col2 = get_number_of_jobs_L(x)
    print('col1 = ', col1, ' col2 = ', col2)
    ws.append(col2)

http://127.0.0.1:5000/data?Location=Los+Angeles&page=1
col1 =  Los Angeles  col2 =  ('Los Angeles', 640)
http://127.0.0.1:5000/data?Location=New+York&page=1
col1 =  New York  col2 =  ('New York', 3226)
http://127.0.0.1:5000/data?Location=San+Francisco&page=1
col1 =  San Francisco  col2 =  ('San Francisco', 435)
http://127.0.0.1:5000/data?Location=Washington+DC&page=1
col1 =  Washington DC  col2 =  ('Washington DC', 5316)
http://127.0.0.1:5000/data?Location=Seattle&page=1
col1 =  Seattle  col2 =  ('Seattle', 3375)
http://127.0.0.1:5000/data?Location=Austin&page=1
col1 =  Austin  col2 =  ('Austin', 434)
http://127.0.0.1:5000/data?Location=Detroit&page=1
col1 =  Detroit  col2 =  ('Detroit', 3945)

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [20]:
#your code goes here
wb.save("job-postings.xlsx")

In [22]:
df = pd.read_excel("job-postings.xlsx")
df.head()

         Country  Jobs
0        Country  Jobs
1    Los Angeles   640
2       New York  3226
3  San Francisco   435
4  Washington DC  5316

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [23]:
# your code goes here
tech=['C','C#','C++','Java','Javascript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']

wb=Workbook()      # create a workbook object
ws=wb.active  
ws.append(['Technology','Jobs'])

for x in tech:
    col1 = x
    col2 = get_number_of_jobs_T(x)
    print('col1 = ', col1, ' col2 = ', col2)
    ws.append(col2)
  
#your code goes here
wb.save("job-postings2.xlsx")

http://127.0.0.1:5000/data?Key+Skills=C&page=1
col1 =  C  col2 =  ('C', 13498)
http://127.0.0.1:5000/data?Key+Skills=C%23&page=1
col1 =  C#  col2 =  ('C#', 333)
http://127.0.0.1:5000/data?Key+Skills=C%2B%2B&page=1
col1 =  C++  col2 =  ('C++', 305)
http://127.0.0.1:5000/data?Key+Skills=Java&page=1
col1 =  Java  col2 =  ('Java', 2609)
http://127.0.0.1:5000/data?Key+Skills=Javascript&page=1
erro: 500
col1 =  Javascript  col2 =  ('Javascript', 0)
http://127.0.0.1:5000/data?Key+Skills=Python&page=1
col1 =  Python  col2 =  ('Python', 1173)
http://127.0.0.1:5000/data?Key+Skills=Scala&page=1
col1 =  Scala  col2 =  ('Scala', 33)
http://127.0.0.1:5000/data?Key+Skills=Oracle&page=1
col1 =  Oracle  col2 =  ('Oracle', 784)
http://127.0.0.1:5000/data?Key+Skills=SQL+Server&page=1
col1 =  SQL Server  col2 =  ('SQL Server', 250)
http://127.0.0.1:5000/data?Key+Skills=MySQL+Server&page=1
col1 =  MySQL Server  col2 =  ('MySQL Server', 0)
http://127.0.0.1:5000/data?Key+Skills=PostgreSQL&page=1
col1 =  PostgreSQL  col2 =  ('PostgreSQL', 10)
http://127.0.0.1:5000/data?Key+Skills=MongoDB&page=1
col1 =  MongoDB  col2 =  ('MongoDB', 174)

In [24]:
df = pd.read_excel("job-postings2.xlsx")
df.head()

   Technology   Jobs
0           C  13498
1          C#    333
2         C++    305
3        Java   2609
4  Javascript      0

## Author

Ayushi Jain

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- | 
| 2022-01-19        | 0.3     | Lakshmi Holla        | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright Â© 2022 IBM Corporation. All rights reserved.